/*************************** Theme Colours****************************/
// Define theme colour scheme
$theme-color: #FFC107;
$text-color: #444;
$text-color-secondary: #666;
$text-grey: #8a8a8a;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$smoky-white: #f5f5f5;

/*************************** Theme Styles ****************************/
// Import theme styles
@import "theme/mixins";
@import "theme/base";
@import "theme/responsive";
